In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('data/Flight_data.csv')

In [4]:
data.head()

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.27581,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.27581,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.72111,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True
3,Lake Gracefurt,Jamesberg,2023-06-13 20:53:09,-0.94299,72,2965,Christina Sanchez,Economy,Gold,BNE-SYD,318.903167,286.301632,-0.520139,MEL,LAX,1.129291,284,True
4,Owenborough,Kelleymouth,2023-05-15 23:06:14,-0.38829,101,8779,Dustin Owens,Economy,Silver,BNE-SYD,389.971051,407.463316,-0.665768,BNE,SIN,1.218239,2805,True

In [5]:
name = input()
df = data[data['Name'] == name]
df

Empty DataFrame
Columns: [Departure City, Arrival City, Departure Date, Flight Duration, Delay Minutes, Customer ID, Name, Booking Class, Frequent Flyer Status, Route, Ticket Price, Competitor Price, Demand, Origin, Destination, Profitability, Loyalty Points, Churned]
Index: []

In [2]:
a = int(input())
b = int(input())
print(a+b)

22

In [24]:
a=[1,2,3,4,5]
b=[6,7,8,9]

In [25]:
for aVal,bVal in zip(a,b):
    print(aVal)
    #print(aVal+bVal)

1
2
3
4

In [30]:
c={'a':1,'b':2}

In [34]:
c['b']

2

In [20]:
try:
    print(b[3])
except:
    print("This is out of range, give another index")

9

In [27]:
a[len(a)-1]

5

In [28]:
a[-1]

5

In [31]:
a.b

AttributeError: 'dict' object has no attribute 'b'